@charset  "UTF-8";

/*Smartphones*/
@media screen and (min-width: 600px) {
    form #ilogin, #isen{
        min-width: 85%;
        max-width: 90%;
    }
}

/*Tablets*/
@media screen and (min-width: 768px) {
    main {
        min-width: 70vw;
        max-width: 85vw;
        min-height: 35vh;
        max-height: 50vh;
    }
    section#img {
        width: 35%;
        height: 100%;
        background:#008BF5 url('../imagens/Ondas.png') no-repeat top left;
        background-size: cover;
    
        border-radius: 15px 0px 0px 15px;
    }

}

/*Desktop*/
@media screen and (min-width: 992px) {
    
}

/*Grandes Telas*/
@media screen and (min-width: 1200px) {
    
}