@charset "UTF-8";

@media screen and (orientation: landscape) {
    section#login {
        width: 550px;
        height: 280px;
    }
    section#login > div#imagem {
        width: 220px;
        height: 100%;
        float: right;
    }
    section#login > div#formulario {
        width: 330px;
        height: 100%;
        float: left;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
    main {
        background-image: linear-gradient(to top, #DAF2F8, #FFFFFF, #DAF2F8);
    }
    section#login {
        width: 80vw;
        height: 320px;
    }
    section#login > div#imagem{
        width: 30%;
        height: 100%;
        float: left;

        background-image: url(../imagens/img.png);
    }
    section#login >div#formulario{
        width: 70%;
        height: 100%;
        float: right;
    }
    div#formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.35em;
    }
    div#formulario > p {
        font-size: 1.05em;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    main {
        background-image: linear-gradient(to top, #DAF2F8, #FFFFFF, #DAF2F8);
    }
    section#login {
        width: 950px;
        height: 310px;
    }
    section#login > div#imagem {
        width: 40%;
        height: 100%;
        float: right;

        background-image: url(../imagens/img.png);
    }
    section#login > div#formulario {
        width: 60%;
        height: 100%;
        float: left;
    }

    div#formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.25em;
    }
    div#formulario > p {
        margin: 10px 0px;
        font-size: 1.10em;
        text-align: center;
    }
}
