@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    position: relative;

    background-image: linear-gradient(to top, #DAF2F8, #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-width: 45vw;
    max-width: 65vw;
    height: 75vh;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.115);
}

section#img {
    height: 35%;
    background:#008BF5 url('../imagens/Ondas.png') no-repeat top left;
    background-size: cover;

    border-radius: 15px 15px 0px 0px;
}

section h1 {
    text-align: center;
    margin: 12px;
}

section p {
    padding: 0px 15px;
}

section form {
    padding: 15px;
}

fieldset, #enviar, #reset {
    background-color: #008BF5;
    height: 7vh;
    margin-bottom: 5px;
    border-radius: 8px;
    border: none;
}
form label {
    padding: 0px 5px;
    vertical-align: middle;
}
#ilogin, #isen {
    background-color: lightgray;
    height: 5vh;
    min-width: 78%;
    max-width: 90%;
    margin-top: 5px;
    padding: 1px;
    color: rgb(237, 237, 237);
    border-radius: 8px;
    border: none;
}
#ilogin:focus-visible, #isen:focus-visible{
    background-color: white;
}
#enviar, #reset{
    height: 5.5vh;
    width: 100%;
    background-color: #25D0BC;
    color: white;
    font-weight: bold;
    font-size: 1em;
} 
#reset{
    color: #25D0BC;
    background-color: white;
    border: 2px solid #25D0BC;
}
#enviar:hover{
    background-color: #93fff2c0;
    color: #25D0BC;
}
#reset:hover{
    background-color: #93fff2c0;
    color: white;
    border: none;
}