@charset "UTF-8";

/*
Paleta de Cores

Verde: #1B998B
Azul: #008BF5
Verde Claro: #31D8BA
Areia: #E2DADB
Cinza Chumbo: #555555
*/

* {
    font-family: system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #DAF2F8;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 250px;
    height: 500px;

    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    height: 200px;

    background: #008BF5 url('../imagens/img-pq.png') no-repeat top center;
    background-size: cover;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #353535;
}
div#formulario > p {
    font-size: 0.8em;
    color: #505050;
}

form > div.campo {
    background-color: #31d8ba;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}

form label {
    display: none;
}
form > input[type=submit] {
    display: block;
    width: 100%;
    height: 35px;
    
    font-size: 1em;
    border: none;
    border-radius: 10px;

    background-color: #008BF5;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #0061ac;
}
form > input[type=submit]:active {
    background-color: #DAF2F8;
    color: #008BF5;
}
form > a.botao {
    display: block;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;

    font-size: 1em;
    border: 1.85px solid #008BF5;
    border-radius: 10px;
        
    text-align: center;
    text-decoration: none;

    background-color: #fff;
    color: #008BF5;
    font-weight: bold;
}
form > a.botao > span {
    font-size: 0.8em;
    font-weight: bold;
}
form > a.botao:hover {
    background-color: #0061ac;
    color: white;
}
form > a.botao:active {
    background-color: #DAF2F8;
    border: none;
    color: #008BF5;
}